/* ---------------------------------------------- /*
 * General styles
/* ---------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

body {
	font: 300 15px/1.6 'Raleway', serif, sans-serif;
	color: #545454;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #00e5ff;
}

a:hover {
	color: #C4C4C4;
}

.box_textshadow {
    text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,
    -1px 0 0 #000000,
    1px 0 0 #000000,
    0 1px 0 #000000,
    0 -1px 0 #000000;
}

/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font: 400 46px/1.2 'Raleway', serif, sans-serif;
	margin: 5px 0 5px;
	color: #222;
}

h1 {
	font-size: 72px;
	font-weight: 700;
	margin: 15px 0 15px;
}

@media (max-width: 479px) {
    h1 {
        font-size: 40px;
    }
}

h2 {
	font-size: 40px;
	font-weight: 700;
}

h3 {
	font-size: 22px;
	text-transform: uppercase;
	margin: 5px 0 15px;
}

h4 {
	font-size: 16px;
	margin: 5px 0 10px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

/* ---------------------------------------------- /*
 * Custom button style
/* ---------------------------------------------- */

.btn {
	font-weight: 700;
	font-size: 14px;
	padding: 17px 27px;
	border: 0;
}

.btn:hover, .btn:focus, .btn:active, .btn.active {
	outline: inherit !important;
}

/* Button types*/

.btn-default {
	background: #FFF;
}

.btn-custom-1 {
    color: #FFF;
    margin-right: 10px;
	background: #343a40;
	border: 2px solid #343a40;
	padding: 15px 25px;
}

.btn-custom-1:hover, .btn-custom-1:focus, .btn-custom-1:active, .btn-custom-1.active {
	background: #FFF;
	border: 2px solid #343a40;
	color: #343a40;
}

.btn-custom-2 {
    margin-right: 10px;
	background: #FFF;
	border: 2px solid #FFF;
	padding: 15px 25px;
}

.btn-custom-2:hover, .btn-custom-2:focus, .btn-custom-2:active, .btn-custom-2.active {
	background: #18191a;
	border: 2px solid #FFF;
	color: #FFF;
}

/* ---------------------------------------------- /*
 * Skill-bars
/* ---------------------------------------------- */

.skills{
    list-style: none;
}

.skills li{
    margin: 25px 0;
}

.bar{
    background: #353b48;
    display: block;
    height: 4px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3
}

.bar span{
    height: 4px;
    float: right;
    background: #FFF;
}

.weight-full{
    width: 0%;
}

.weight-high{
    width: 10%;
}

.weight-medhigh{
    width: 25%;
}

.weight-med{
    width: 50%;
}

.weight-low{
    width: 75%;
}

/* ---------------------------------------------- /*
 * General
/* ---------------------------------------------- */

.wrapper {
	overflow: hidden;
}

.section, .callout {
	position: relative;
	padding: 60px 0;
}

.callout {
	background: #F5F5F5;
}

.headline {
	margin: 0 0 60px;
}

.headline p {
	font-weight: 700;
	color: #C4C4C4;
}

.callout-btn {
	margin-top: 10px;
}

.icon-list {
	list-style: none;
	padding: 0px;
}

/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.navbar {
	background: none;
	border-radius: 0;
	border: 0;
	padding: 2px 0;
	color: #FFF !important;
}

.git-button {
    position: left;
    margin-right: 10px;
}

/* ---------------------------------------------- /*
 * Home
/* ---------------------------------------------- */

#home {
    background-repeat: no-repeat;
    background-size: 100% 105%;
    background-attachment: fixed;
    position: center;
	padding: 50px 0 160px 0;
	height: 620px;
	color: #FFF;
}

#home h1, #home h2, #home h3, #home h4, #home h5, #home h6 {
	color: #FFF;
	margin: 0px;
}

#home h4{
    margin-right: 5px;
}

.sub-title{
    font-size: 15px;
}

@media (max-width: 832px) {

    #home {
    background-attachment: local;
    position: left;
	padding: 40px 0 160px 0;
	height: 500px;
	color: #FFF;
    }

    .sub-title{
        font-size: 0px;
    }

    #home h1{
    font-size: 36px;
    margin-top: 10px;
    }
}

@media (max-width: 479px) {

    #home {
    background-attachment: local;
    position: left;
	padding: 40px 0 160px 0;
	height: 300px;
	color: #FFF;
    }

    .sub-title{
        font-size: 0px;
    }

    #home h1{
    font-size: 22px;
    margin-top: 10px;
    }
}

/* ---------------------------------------------- /*
 * Research/Teaching
/* ---------------------------------------------- */

.resume-items {
	margin-bottom: 20px;
}

.resume-place {
	margin-bottom: 20px;
}

/* ---------------------------------------------- /*
 * Information/Contact
/* ---------------------------------------------- */

#contact {
	background: #18191a;
	padding: 85px 0;
	color: #FFF;
}

#contact h1, #contact h2, #contact h3, #contact h4, #contact h5, #contact h6 {
	color: #FFF;
}

#contact .form-control {
	border: 0;
}

/* ---------------------------------------------- /*
 * Footer
/* ---------------------------------------------- */

#footer {
	background: #141414;
	padding: 5px 0;
	color: #FFF;
}

#footer .copy {
	font-size: 12px;
	margin: 5px 0;
}
